

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #008080;
    font-family: "MS Sans Serif", sans-serif;
    font-size: 15px; /* You can adjust the size as needed */
    font-weight: 500;
    -webkit-font-smoothing: none; /* For older versions of Safari */
    -moz-osx-font-smoothing: grayscale; /* For older versions of Firefox on macOS */
    font-smooth: never; /* For modern browsers */
}
